# Python Virtual Environment
venv/

# Flask instance folder (berisi database, dll.)
instance/

# Beri komentar atau hapus baris ini agar file CSV bisa di-upload
# orders_seed.csv

# Python cache files
__pycache__/
*.pyc