{% extends 'layout.html' %}
{% from '_pagination.html' import render_pagination %}

{% block content %}
<h1 class="mb-3">Daftar Pembelian</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Tanggal</th>
        <th>No. Nota</th>
        <th>Kode Barang</th>
        <th>Nama Barang</th>
        <th class="text-end">Qty</th>
        <th class="text-end">Total Harga (Rp)</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in pagination.items %}
      <tr>
        <td>{{ purchase.date.strftime('%Y-%m-%d') }}</td>
        <td>{{ purchase.regno }}</td>
        <td>{{ purchase.kode }}</td>
        <td>{{ purchase.nama }}</td>
        <td class="text-end">{{ purchase.qty }}</td>
        <td class="text-end">{{ '{:,.0f}'.format(purchase.jumlah) }}</td>
      </tr>
      {% else %}
      <tr><td colspan="6" class="text-center">Belum ada data pembelian.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ render_pagination(pagination, 'purchases_list') }}
{% endblock %} 